@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url(/images/vendor/slick-carousel/slick/ajax-loader.gif?68b0c4fcb84d239f261c1a5e65818142) center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url(/fonts/vendor/slick-carousel/slick/slick.eot?ced611daf7709cc778da928fec876475);
  src: url(/fonts/vendor/slick-carousel/slick/slick.eot?ced611daf7709cc778da928fec876475) format("embedded-opentype"), url(/fonts/vendor/slick-carousel/slick/slick.woff?b7c9e1e479de3b53f1e4e30ebac2403a) format("woff"), url(/fonts/vendor/slick-carousel/slick/slick.ttf?d41f55a78e6f49a5512878df1737e58a) format("truetype"), url(/fonts/vendor/slick-carousel/slick/slick.svg?f97e3bbf73254b0112091d0192f17aec) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "\2190";
}

[dir="rtl"] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "\2192";
}

[dir="rtl"] .slick-next:before {
  content: "\2190";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@-webkit-keyframes tablet-anim {
  0% {
    right: -450px;
  }

  100% {
    right: 0;
  }
}

@keyframes tablet-anim {
  0% {
    right: -450px;
  }

  100% {
    right: 0;
  }
}

@-webkit-keyframes top-to-bottom-anim {
  0% {
    top: -450px;
  }

  100% {
    top: 0;
  }
}

@keyframes top-to-bottom-anim {
  0% {
    top: -450px;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes logo-anim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-270deg);
            transform: scale(0) rotate(-270deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-270deg);
            transform: scale(0) rotate(-270deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
}

@keyframes logo-anim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-270deg);
            transform: scale(0) rotate(-270deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-270deg);
            transform: scale(0) rotate(-270deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
}

.contactinfo {
  color: gray;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .contactinfo {
    width: 50%;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .contactinfo {
    width: 20%;
    text-align: left;
  }
}

.example {
  width: 100%;
}

@media (min-width: 768px) {
  .example {
    width: 50%;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .example {
    width: 80%;
    text-align: left;
  }
}

.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.example__list-item {
  width: 50%;
  text-align: center;
  padding: 50px 0 0;
}

@media (min-width: 768px) {
  .example__list-item {
    padding: 0 0 50px;
  }
}

@media (min-width: 992px) {
  .example__list-item {
    width: 25%;
    padding: 0;
    text-align: left;
    padding-left: 140px;
  }
}

.icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  padding: 20px 0;
}

.icons__list-item i {
  font-size: 50px;
  color: black;
  padding-right: 50px;
}

.icons__list-item:last-child i {
  padding-right: 0;
}

.icons--footer .icons__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons--footer .icons__list-item i {
  width: 40px;
  height: 40px;
  font-size: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: black;
  color: #FCDB00;
  padding: 20px;
  border: 5px solid black;
}

.icons--footer .icons__list-item:hover i {
  background-color: #FCDB00;
  color: black;
  border: 5px solid #FCDB00;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 768px) {
  .icons--footer .icons__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 30%;
  }
}

.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inputarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  position: relative;
}

@media (min-width: 768px) {
  .inputarea {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.inputarea__text {
  color: gray;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 10px;
  border: none;
}

@media (min-width: 768px) {
  .inputarea__text {
    width: 88%;
    margin-bottom: 0;
  }
}

.inputarea__submit {
  width: 100%;
  height: 40px;
  background: #FCDB00;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #FCDB00;
}

@media (min-width: 768px) {
  .inputarea__submit {
    width: 11%;
  }
}

.inputarea__submit:hover {
  background-color: black;
  color: #FCDB00;
  border: 2px solid #FCDB00;
  -webkit-transition: background-color .3s, color .3s, border .3s;
  transition: background-color .3s, color .3s, border .3s;
}

.inputarea__error {
  position: absolute;
  bottom: 15px;
  opacity: 0;
}

.items__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  padding: 50px 0 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items__list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0 16px 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 25px;
}

@media (min-width: 768px) {
  .items__list-wrapper {
    width: 50%;
    margin: 0 0 20px;
  }
}

@media (min-width: 992px) {
  .items__list-wrapper {
    width: 33%;
    margin: 0 0 20px;
  }
}

.items__list-wrapper p {
  margin: 0;
}

.items__list-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.items__list-wrapper i {
  font-size: 50px;
  color: black;
}

.items__list-wrapper h2 {
  margin: 0;
  padding: 0 0 20px 0;
}

.items__list-wrapper li {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 0;
  margin: 0;
  padding-left: 25px;
}

@media (min-width: 768px) {
  .items__list-wrapper:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0px 0px 3px 3px #FCDB00;
            box-shadow: 0px 0px 3px 3px #FCDB00;
  }
}

@media (min-width: 992px) {
  .items__list-wrapper:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) {
  .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
  }
}

.nav-bar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar__header-text {
  margin: 0;
  padding-left: 5px;
}

.nav-bar__header-icon {
  width: 50px;
  height: 50px;
}

.nav-bar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__list {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .nav-bar__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-bar__list li {
  padding-left: 40px;
  font-size: 25px;
}

.nav-bar__list li a {
  color: black;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.nav-bar__list li a::after {
  content: "";
  height: 5px;
  background: black;
  -webkit-transition: width 0.75s;
  transition: width 0.75s;
  width: 0;
  display: block;
  position: absolute;
  bottom: -2px;
}

.nav-bar__list li:hover a::after {
  -webkit-transition: width 0.75s;
  transition: width 0.75s;
  width: 100%;
}

.nav-bar__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .nav-button {
    display: none;
  }
}

.slick-dots {
  height: auto;
}

.slick-dots button {
  background: gray !important;
  border-radius: 50%;
  opacity: .5;
}

.slick-active button {
  opacity: 1;
}

.slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media (min-width: 768px) {
  .slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.tablet {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  position: relative;
  -webkit-animation: tablet-anim 1s;
          animation: tablet-anim 1s;
}

.tablet__logo {
  position: absolute;
  -webkit-animation: logo-anim 2s;
          animation: logo-anim 2s;
}

.textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.textarea__header {
  padding-right: 100px;
}

.textalign-center {
  text-align: center;
  padding-top: 50px;
}

.textalign-center h1 {
  padding-bottom: 20px;
}

.top-to-bottom {
  -webkit-animation: top-to-bottom-anim 1s;
          animation: top-to-bottom-anim 1s;
}

.nav-button-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.insidelist {
  list-style-type: none;
  padding: 0;
}

.js-show-error {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.bg-yellow {
  background: #FCDB00;
}

.bg-black {
  background: black;
  color: #FCDB00;
}

.bg-black p {
  color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.switcher {
  height: 100px;
}

.width80 {
  margin: 0 10%;
}

